@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	@keyframes intense-red-blink {
		0%, 100% {
			opacity: 1;
			filter: brightness(1);
		}
		50% {
			opacity: 0.4;
			filter: brightness(1.4);
		}
	}

	.blink-red {
		animation: intense-red-blink 1s linear infinite;
	}
}
